{% extends "base.jinja" %}

{% block content %}
    <h3>About Hero Collector</h3>
    <p>
        Hero Collector allows you to create your own super hero concepts and share them with your friends as well as search through other user created heros.
    </p>
{% endblock  %}
